doctype html
html(lang='en-us')

head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Raine Rupert Revere
  link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
  link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato:300,700')
  link(rel='stylesheet', type='text/css', href='style/main.min.css')

body
  
  section#intro.clearfix
    .container.container-lg
      .header-image.left.space-right-lg.space-below-sm.space-above-md
        img.avatar.circle(src='images/avatar.jpg')

      .header-content.space-below-lg
        h1.title Raine Rupert Revere
        h2.subtitle Contemplative Technologist

        p <em>Raine Revere is a developer and teacher with over 15 years of coding experience.</em> With a B.A. in Computer Science and an upcoming M.A. in Contemplative Counseling Psychology, Raine has a rare depth of skill working with both technology and people. He has impacted hundreds of students through his teaching and worked as a leader and facilitator across multiple domains. Raine is a Buddhist meditation practitioner and works to bring mindful presence and emotional awareness to everything he does.

  section#featured-work.theme-dark.clearfix
    .container.container-md: .container-content
      h1 Featured Work
      
      h2 PayPal in Times Square

      a(href='images/times-square-boards.jpg' target='_blank')
        img.media-left.left(src='images/times-square-boards-thumb.jpg' width='530')

      p In June 2015, I was comissioned to build an application that would render photos of people in real-time onto 3 skyscraper-sized screens in Times Square. As part of PayPal's "New Money" advertising campaign, photo booths were placed in Times Square where people could get their picture taken and moments later see themselves appear on the screens for thousands to see. I built a Node app that sync'd photos from the photobooth via DropBox, composited them onto an animated currency video using FFMPEG, and simultaneously broadcast a slideshow to multiple screens via Web Sockets. 

      .space-above-xl.clearfix
        a(href='images/times-square-raine.jpg' target='_blank')
          img.right.media-right(src='images/times-square-raine-thumb.jpg' height='300')

        p The multi-million dollar project had to be completed in under 2 months and required a flawless execution on the day celebrating PayPal going public on NASDAQ.
      
      h2 RefactorU Web Development Bootcamp
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde consequuntur minus dolorum sapiente ullam impedit expedita repudiandae. Nesciunt eligendi quod iure libero. Quidem reprehenderit facilis, doloremque dignissimos perspiciatis commodi reiciendis?
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique deserunt aspernatur ut vitae assumenda, quaerat rerum, qui recusandae dicta laudantium voluptatibus porro rem sapiente animi nostrum autem adipisci earum quisquam.

  section#open-source.clearfix
    .container.container-md: .container-content
      h1 Open Source Contributions
      p I am actively involved in Open Source development. He has authored and contributed to numerous libraries.

      h2 Featured Contributions

      a(href='https://github.com/tjunnone/npm-check-updates' target='_blank') npm-check-updates

      p npm-check-updates is used by 

      h2 Other Contributions

      table.repos
        tr(data-template='repo-row')
          td
            a.space-right-md(href='#' target='_blank' data-template-key='url' data-template-attr='href') 
              span(data-template-key='name')
          td
            span(data-template-key='description') ...
  
  section#interests.theme-dark.clearfix
    .container.container-md: .container-content
      h1 Other Interests
      ul
        li Buddhism
        li Classical Guitar
        li Cryptocurrency
        li Cyr Wheel
        li Epistemology
        li Journaling
        li Lean Startup
        li Magic: the Gathering
        li Personal Growth
        li Psychology
        li Social Action
        li Spanish
        li Systems Theory
        li Video Game Music
  
  section#contact.theme-dark2.clearfix
    .container.container-md: .container-content
      h1 Contact
      table
        tr
          th github
          td
            a(href='http://github.com/metaraine', target='_blank') metaraine
        tr
          th twitter
          td
            a(href='http://twitter.com/metaraine', target='_blank') @metaraine
        tr
          th email
          td
            a(href='mailto:raine@clarityofheart.com') raine@clarityofheart.com

script(src='script/bundle.js')
