doctype html
html(lang='en-us')

head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Raine Revere
  link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
  link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato:300,700')
  link(rel='stylesheet', type='text/css', href='style/main.min.css')

body
  
  section#intro.clearfix
    .container.container-lg
      .header-image.left.space-right-lg.space-below-sm.space-above-md
        img.avatar.circle(src='images/avatar.jpg')

      .header-content.space-below-lg
        h1.title Raine Revere
        h2.subtitle Contemplative Technologist

        p <em>Raine Revere is a Javascript developer and teacher with over 15 coding experience.</em> With a B.A. in Computer Science and an upcoming M.A. in Contemplative Counseling Psychology, Raine has a rare depth of technology and and people skills. He has impacted hundreds of students through his teaching and worked as a leader and facilitator across multiple domains. Raine is a dedicated Buddhist meditation practitioner and works to bring mindful presence to all endeavors.

  section#featured-work.theme-dark.clearfix
    .container.container-md: .container-content
      h1 Featured Work
      
      h2 Paypal in Times Square
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat animi ullam, molestiae ducimus aliquam labore saepe. Architecto, quod cumque porro explicabo qui voluptate, repellendus voluptatum non maiores officia sunt eligendi!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo animi dolor ratione magnam perferendis, quos cupiditate distinctio delectus inventore optio quasi fugiat omnis esse veniam. Autem illo, voluptatum explicabo placeat?
      
      h2 RefactorU Web Development Bootcamp
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde consequuntur minus dolorum sapiente ullam impedit expedita repudiandae. Nesciunt eligendi quod iure libero. Quidem reprehenderit facilis, doloremque dignissimos perspiciatis commodi reiciendis?
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique deserunt aspernatur ut vitae assumenda, quaerat rerum, qui recusandae dicta laudantium voluptatibus porro rem sapiente animi nostrum autem adipisci earum quisquam.
  
  section#open-source.clearfix
    .container.container-md: .container-content
      h1 Open Source Contributions
      p Raine is actively involved in Open Source development. He has authored and contributed to numerous libraries.

      table.repos
        tr(data-template='repo-row')
          td
            a.space-right-md(href='#' target='_blank' data-template-key='url' data-template-attr='href') 
              span(data-template-key='name')
          td
            span(data-template-key='description') ...
  
  section#interests.theme-dark.clearfix
    .container.container-md: .container-content
      h1 Other Interests
      ul
        li Psychology
        li Social Justice
        li Journaling
        li Buddhism
  
  section#contact.theme-dark2.clearfix
    .container.container-md: .container-content
      h1 Contact
      ul
        li
          | email 
          a(href='mailto:raine@clarityofheart.com') raine@clarityofheart.com
        li
          | github 
          a(href='http://github.com/metaraine', target='_blank') http://github.com/metaraine

script(src='script/bundle.js')
